body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100vh;
  width: 100vw;
}

#map {
  z-index: 0;
}

.sensor-marker {
  opacity: 0.65;
  stroke: black;
  stroke-width: 1px;
}

.leaflet-control-zoom > a {
  font-size: 2px;
}

.leaflet-control-attribution {
  z-index: -10 !important;
  font-size: 7px !important;
  background: rgba(255, 255, 255, 0) !important;
}

.demo-card-wide.mdl-card {
  width: calc(100% - 20px);
  padding: 0;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#settings {
  display: none;
}

#stream {
  height: 150px;
  opacity: 0.7;
  margin: 0;
}

#stream > svg {
  width: 100vw;
}

#config, #pause, #locked, #legend, #legend-icon {
  background: white;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

#config:hover, #pause:hover, #locked:hover, #legend-icon:hover {
  background: #f4f4f4;
}
